@model PayrollManagementSystem.Models.Payroll

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payroll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PayrollID" />
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriodStartDate" class="control-label"></label>
                <input asp-for="PayPeriodStartDate" class="form-control" />
                <span asp-validation-for="PayPeriodStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriodEndDate" class="control-label"></label>
                <input asp-for="PayPeriodEndDate" class="form-control" />
                <span asp-validation-for="PayPeriodEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvertimePay" class="control-label"></label>
                <input asp-for="OvertimePay" class="form-control" />
                <span asp-validation-for="OvertimePay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deductions" class="control-label"></label>
                <input asp-for="Deductions" class="form-control" />
                <span asp-validation-for="Deductions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetSalary" class="control-label"></label>
                <input asp-for="NetSalary" class="form-control" />
                <span asp-validation-for="NetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
